# Cloudflare Zero Trust Tunnel Configuration & Credentials
DOMAIN_NAME = yourdomain.com

CLOUDFLARE_TOKEN = YOUR_CLOUDFLARE_TOKEN_HERE
ACCOUNT_TAG= YOUR_ACCOUNT_TAG_HERE
TUNNEL_SECRET= YOUR_TUNNEL_SECRET_HERE
TUNNEL_ID = YOUR_TUNNEL_ID_HERE
